{% extends "app/layout.html" %}

{% block content %}
{% load staticfiles %}
<script src="{% static 'app/scripts/new/fetch_request.js' %}"></script>
<script src="{% static 'app/scripts/new/utils.js' %}"></script>

<div class="jumbotron" style="padding: 1.5em;">
    <h1>Сервис коротких ссылок</h1>
    <h3>Для получения сокращённой ссылки введите оригинальный URL.</h3>
    <h3 style="margin: 0em 0 1em;">Опционально можно задать имя субдомена либо согласиться с предложением системы.</h3>
</div>

<!-- секция с формой ввода -->
<section>
    <!-- форма ввода -->
    <form id="mainform" method="POST" class="form-group">
        {%csrf_token %}
        <h2 class="btm-sp">Задайте правило ссылки:</h2>
        <!-- поле оригинальной ссылки 'link' -->
        <div class="btm-sp">
            <h4>{{mainform.link.label_tag}}</h4>
            <div class="input-group">
                <span class="input-group-addon">
                    <b>URL:</b> 
                </span>
                {{mainform.link}}
            </div>
        </div>

        <!-- поля короткой ссылки 'domain' и 'subpart' -->
        <div class="btm-sp" {#style="border: 1px solid lightgrey;"#}>
            <h4><b>Короткая ссылка:</b></h4>
            <div class="row" style="padding-left: 0;">
                <!-- domain -->
                <div class="col-xs-12 col-md-2">
                    {{mainform.domain.label_tag}}
                    {{mainform.domain}}
                </div>
                <!-- разделитель-слэш -->
                <div class="row col-xs-12 col-md-1">
                    <div class="col-xs-12"> <!-- блок с пустой меткой поля -->
                        <label>&emsp;<br/></label> 
                    </div> 
                    <span class="form-control" style="text-align: center;"><b>/</b></span> 
                </div>
                <!-- subpart -->
                <div class="col-xs-12 col-md-2">
                    {{mainform.subpart.label_tag}}
                    {{mainform.subpart}}                     
                </div>
                
                <!-- блок сообщений об ошибках -->
                <div class="col-xs-12 col-md-7">
                    {% if not errors %}
                        <div class="col-xs-12"> <!-- блок с пустой меткой поля -->
                            <label>&emsp;<br/></label> 
                        </div>
                    {% endif %}
                    <!-- сообщения об ошибках -->
                    <div id="errors" style="color: red;">
                        {% if errors %}
                            <label>Ошибки сохранения формы:</label>
                            <ul>
                                {% for key, errList in errors.items %}
                                    <li>Поле "<b>{{key}}</b>":</li>
                                    <ol>
                                        {% for err in errList %}
                                            <li>{{err}}</li>
                                        {% endfor %}
                                    </ol>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <!-- поле даты удаления правила -->
        <div class="btm-sp">
            {{mainform.expire_date.label_tag}}
            {{mainform.expire_date}}
        </div>

        <div class="row">
            <!-- блок сообщений результата сохранения правила -->
            <div id="savemsg" class="col-xs-12 col-md-10" style="color: blue;">
                {% if savemsg %}<h4>{{savemsg}}</h4>{% endif %}
            </div>
            
            <!-- кнопка form.submit -->
            <div class="col-xs-12 col-md-2">
                <button type="submit" class="btn btn-primary col-xs-12">Сохранить</button>
            </div>
        </div>
    </form>
</section>

<!-- секция с таблицей действующих правил -->
<section>
    <h2>Действующие правила:</h2>
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr><th width="45%">Оригинальный URL</th><th>Короткий вариант</th><th width="20%" name='date'>Дата удаления</th></tr>
            </thead>      
            <tfoot>
                <tr><td colspan="3">--- окончание таблицы ---</td></tr>
            </tfoot>      
            <tbody>
                <tr><td>Ссылка</td><td>Короткая</td><td name='date'>Дата</td></tr>
            </tbody>      
        </table>
    </div>
</section>

{% endblock %}
