<!-- пагинация -->
<div class="col-xs-12">
    <div class="col-xs-12 col-md-4">
        {% if page_obj.has_previous %}
        <a href="?page=1"><b><<</b> первая</a>&emsp;
        <a href="?page={{ page_obj.previous_page_number }}"><b><</b> предыдущая</a>
        {% endif %}
    </div>
    <div class="col-xs-12 col-md-4">
        <span>
            страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}
        </span>
    </div>
    <div class="col-xs-12 col-md-4">
        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">следующая <b>></b></a>&emsp;
        <a href="?page={{ page_obj.paginator.num_pages }}">последняя <b>>></b></a>
        {% endif %}
    </div>
</div>
